# Игнорируем виртуальное окружение
venv/

# Игнорируем файлы .pyc и кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файлы среды разработки
.idea/
.vscode/

# Игнорируем файл с токенами
.env

# Логи и временные файлы
*.log
*.sqlite3
*.db

*.docx

data.json
tests/